{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "4catalyzer",
    "4catalyzer-jest",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions":  {
    "ecmaVersion":  2018,  // Allows for the parsing of modern ECMAScript features
    "sourceType":  "module",  // Allows for the use of imports
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "import/extensions": ["off", "never", { "ts": "never" }],
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
